@using RentACar.Web.BindingModels
@using RentACar.Web.ViewModels.Car.Status

@model RentACar.Web.BindingModels.CarEditInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Промени кола</h1>

<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Brand" class="text-primary h5">Марка</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="brand"
                   placeholder="Марка..."
                   value="@Model.Brand"
                   asp-for="Brand">
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Model" class="text-primary h5">Модел</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="model"
                   placeholder="Модел..."
                   value="@Model.Model"
                   asp-for="Model">
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="PricePerDay" class="text-primary h5">Цена за ден</label>
            </div>
            <input type="number"
                   step="0.01"
                   class="form-control text-primary text-center"
                   id="price"
                   placeholder="Цена за ден..."
                   value="@Model.PricePerDay"
                   asp-for="PricePerDay">
            <span asp-validation-for="PricePerDay" class="text-danger"></span>
        </div>
    </div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <label asp-for="ManufacturedOn" class="text-primary h5">Дата на създаване</label>
                </div>
            </div>
            <input type="date"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Дата на създаване..."
                   asp-for="ManufacturedOn">
            <span asp-validation-for="ManufacturedOn" class="text-danger" />
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Picture" class="text-primary h5">Снимка</label>
            </div>
            <input type="file"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Снимка..."
                   asp-for="Picture">
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="Group" class="text-primary h5">Група на колата</label>
            </div>
            <div class="col-md-10 text-center">
                <select asp-for="Group" asp-items="@(Html.GetEnumSelectList<CarGroupBindingModel>())">
                    <option selected="selected" value="">Избери</option>
                </select>
                <span asp-validation-for="Group" class="text-danger" />
            </div>
        </div>
    </div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="AirConditioner" class="text-primary h5">Климатик</label>
            </div>
            <div class="col-md-10 text-center">
                <select asp-for="AirConditioner" asp-items="@(Html.GetEnumSelectList<CarEquipmentBindingModel>())">
                    <option selected disabled>--- Избери ---</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="AutomaticGearbox" class="text-primary h5">Автоматична скоростна кутия</label>
            </div>
            <div class="col-md-10 text-center">
                <select asp-for="AutomaticGearbox" asp-items="@(Html.GetEnumSelectList<CarEquipmentBindingModel>())">
                    <option selected disabled>--- Избери ---</option>
                </select>
                <span asp-validation-for="AutomaticGearbox" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="Diesel" class="text-primary h5">Дизел</label>
            </div>
            <div class="col-md-10 text-center">
                <select asp-for="Diesel" asp-items="@(Html.GetEnumSelectList<CarEquipmentBindingModel>())">
                    <option selected disabled>--- Избери ---</option>
                </select>
                <span asp-validation-for="Diesel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="CarStatus" class="text-primary h5">Статус на колата</label>
            </div>
            <select class="form-control text-primary" id="carstatus" asp-for="CarStatus">
                <option selected disabled>--- Избери тип ---</option>
                @foreach (var status in (IEnumerable<CarCreateCarStatusViewModel>)this.ViewData["statuses"])
                {
                    if (status.Name == Model.CarStatus)
                    {
                        <option value="@status.Name" selected>@status.Name</option>
                    }
                    else
                    {
                        <option value="@status.Name">@status.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="CarStatus" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center border-t mt-3">
        <button class="btn btn-primary mt-3 font-weight-bold">Промени колата</button>
    </div>
</form>