@model List<RentACar.Web.ViewModels.Home.Index.CarHomeViewModel>

@{
    ViewData["Title"] = "Rent a car";

    var criteria = new Dictionary<string, string>()
{
        { "price-lowest-to-highest", "Price (Low to High)" },
        { "price-highest-to-lowest", "Price (High to Low)" },
        { "date-oldest-to-newest", "Manufactured date (Old to New)" },
        { "date-newest-to-oldest", "Manufactured date (New to Old)" }
    };
}

<div class="d-flex justify-content-between mt-3">
    <div id="products-search-bar-holder"
         class="form-group d-flex justify-content-between w-50">
        <input type="text"
               class="form-control text-dark"
               id="products-search-bar"
               name="search"
               placeholder="Search..." />
    </div>

    <div id="sort-holder" class="form-group w-40 d-flex justify-content-between">
        <label for="sort" class="text-dark font-weight-bold w-30 h7 mt-1 text-right">Order by: </label>
        <form id="rent-form" action="/" method="get">
            <select id="sort" class="form-control text-dark text-center pl-2 ml-1 w-70" name="criteria">
                @if (this.ViewData["criteria"] == null)
                {
                    <option selected>--- Select ---</option>
                }
                else
                {
                    <option selected>--- Select ---</option>
                }

                @foreach (var elem in criteria)
                {
                    if (elem.Key == (string)this.ViewData["criteria"])
                    {
                        <option value="@elem.Key" selected>@elem.Value</option>
                    }
                    else
                    {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                }
            </select>
        </form>
    </div>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <div id="products" class="mt-2 border-left-right">
        @for (int i = 0; i < Model.Count; i += 5)
        {
            <div class="products-row row d-flex justify-content-around my-5">
                @for (int j = i; j < i + 5; j++)
                {
                    if (j < Model.Count)
                    {
                        <div class="product col-md-4 border-bot">
                            <div class="image-holder mt-2 d-flex justify-content-center">
                                <img class="img-thumbnail product-image"
                                     src="@Model[j].Picture"
                                     alt="@Model[j].Brand @Model[j].Model">
                            </div>
                            <h5 class="text-dark text-center mt-3">Brand: @Model[j].Brand</h5>
                            <h5 class="text-dark text-center mt-3">Model: @Model[j].Model</h5>
                            <h5 class="text-dark text-center mt-3">
                                Manufactured on: @Model[j].ManufacturedOn.ToString("dd/MM/yyyy")
                            </h5>
                            <h5 class="text-dark text-center mt-3">
                                Price per day: @Model[j].PricePerDay.ToString("F2") lv.
                            </h5>
                        </div>
                    }
                    else
                    {
                        <div class="product col-md-6 empty">
                        </div>
                    }
                }
            </div>
        }
    </div>
}
else
{
    <div id="products" class="mt-3 border-left-right">
        @for (int i = 0; i < Model.Count; i += 5)
        {
            <div class="products-row row d-flex  justify-content-around my-xl-2">
                @for (int j = i; j < i + 5; j++)
                {
                    if (j < Model.Count)
                    {
                        <div class="product col-md-4 border-bot">
                            <div class="image-holder mt-2 d-flex justify-content-center">
                                <img class="img-thumbnail product-image"
                                     src="@Model[j].Picture"
                                     alt="~/images/missingCar.jpg" />
                            </div>
                            <h5 class="text-dark text-left mt-3">Brand: @Model[j].Brand</h5>

                            <h5 class="text-dark text-left mt-3">Model: @Model[j].Model</h5>

                            <h5 class="text-dark text-left mt-3">
                                Manufactured on: @Model[j].ManufacturedOn.ToString("dd/MM/yyyy")
                            </h5>

                            <h5 class="text-dark text-left mt-3">
                                Price per day: @Model[j].PricePerDay.ToString("F2") lv.
                            </h5>

                            @if (Model[j].CarStatus == "Booked")
                            {
                                <a class="btn btn-outline-danger 
                                   busy-btn-disabled">
                                    Booked
                                </a>
                            }
                            else
                            {
                                <a href="/Car/Details/@Model[j].Id" 
                                   class="btn btn-outline-dark mb-2 font-weight-bold">
                                    Free
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="product col-md-6 empty"></div>
                    }
                }
            </div>
        }
    </div>
}

<div class="form-group mx-auto section mt-5">
    <div class="d-flex justify-content-left mt-1 ml-3">
        <h6>
            Current road conditions -
            <a href="http://www.api.bg/index.php/bg/promeni"> www.api.bg</a>
        </h6>
    </div>
</div>

<div class="form-group mx-auto section mt-5">
    <div class="d-flex justify-content-left ml-3">
        <h6>
            The weather -
            <a href="http://www.sinoptik.bg">www.sinoptik.bg</a>
            or
            <a href="http://www.dalivali.bg">www.dalivali.bg</a>
        </h6>
    </div>
</div>

<script>
    $('#sort').change(function () {
        $('#rent-form').submit();
    });

    $('#products-search-bar').on("change paste keyup", function () {
        $('.product').show();

        let searchValue = $('#products-search-bar').val();

        for (let elem of $('.product')) {
            let productName = $($(elem).children()[1]).text();

            if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(elem).hide();
            }
        }
    });
</script>