@model List<RentACar.Web.ViewModels.Home.Index.CarHomeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between">
    <div id="products-search-bar-holder" class="form-group d-flex justify-content-between w-50">
        <input type="text" class="form-control text-primary" id="products-search-bar" name="search" placeholder="Търсене..." />
        @*<input type="text" class="form-control text-primary" id="products-search-bar" name="search" placeholder="Search..." />*@

    </div>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <div id="products" class="mt-3 border-left-right">
        @for (int i = 0; i < Model.Count; i += 5)
        {
            <div class="products-row row d-flex justify-content-around my-5">
                @for (int j = i; j < i + 5; j++)
                {
                    if (j < Model.Count)
                    {
                        <div class="product col-md-3">
                            <div class="image-holder d-flex justify-content-center">
                                <a href="/Car/Details/@Model[j].Id">
                                    <img class="img-thumbnail product-image" src="@Model[j].Picture" alt="...">
                                </a>
                            </div>
                            <h5 class="text-primary text-center mt-3">Марка: @Model[j].Brand</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].Brand</h5>*@

                            <h5 class="text-primary text-center mt-3">Модел: @Model[j].Model</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].Model</h5>*@

                            <h5 class="text-primary text-center mt-3">Дата на производство: @Model[j].ManufacturedOn.ToString("dd/MM/yyyy")</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].ManufacturedOn.ToString("dd/MM/yyyy")</h5>*@

                            <h5 class="text-primary text-center mt-3">Цена за ден: @Model[j].PricePerDay.ToString("F2") лв.</h5>
                            @*<h5 class="text-primary text-center mt-3">Price: &euro;@Model[j].PricePerDay.ToString("F2")</h5>*@

                        </div>
                    }
                    else
                    {
                        <div class="product col-md-2 empty">
                        </div>
                    }
                }
            </div>
        }
    </div>
}
else
{
    <div id="products" class="mt-3 border-left-right">
        @for (int i = 0; i < Model.Count; i += 5)
        {
            <div class="products-row row d-flex justify-content-around my-5">
                @for (int j = i; j < i + 5; j++)
                {

                    if (j < Model.Count)
                    {
                        <div class="product col-md-5">
                            <div class="image-holder d-flex justify-content-center mt-5">
                                <a href="/Car/Details/@Model[j].Id">
                                    <img class="img-thumbnail product-image" src="@Model[j].Picture" alt="@Model[j].Brand @Model[j].Model">
                                </a>
                            </div>
                            <h5 class="text-primary text-center mt-2">Марка: @Model[j].Brand</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].Brand</h5>*@

                            <h5 class="text-primary text-center mt-2">Модел: @Model[j].Model</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].Model</h5>*@

                            <h5 class="text-primary text-center mt-2">Дата на производство: @Model[j].ManufacturedOn.ToString("dd/MM/yyyy")</h5>
                            @*<h5 class="text-primary text-center mt-3">@Model[j].ManufacturedOn.ToString("dd/MM/yyyy")</h5>*@

                            <h5 class="text-primary text-center mt-2">Цена за ден: @Model[j].PricePerDay.ToString("F2") лв.</h5>
                            @*<h5 class="text-primary text-center mt-3">Price: &euro;@Model[j].PricePerDay.ToString("F2")</h5>*@

                            @*@if (Model[j].Status.Name.Equals("Free"))*@
                            @*{*@
                                <a href="/Car/Details/@Model[j].Id" class="btn btn-primary font-weight-bold">Наемане</a>
                                @*<a href="/Car/Details/@Model[j].Id" class="btn btn-primary font-weight-bold">Booking</a>
                            }
                            else if(Model[j].Status.Name == "Booked")
                            {
                                <button class="btn btn-primary font-weight-bold">Заета!</button>
                                @*<button class="btn btn-primary font-weight-bold">Booked!</button>

                            }*@
                        </div>
                    }
                    else
                    {
                        <div class="product col-md-3 empty">
                        </div>
                    }

                }
            </div>
        }
    </div>
}

<div class="form-group mx-auto section mt-5">

    <div class="d-flex justify-content-left mt-1 ml-3">
        <h6>
            Актуална пътна обсатовна -
            <a href="http://www.api.bg/index.php/bg/promeni"> www.api.bg</a>
        </h6>
    </div>

</div>

<div class="form-group mx-auto section mt-5">

    <div class="d-flex justify-content-left ml-3">
        <h6>
            Времето -
            <a href="http://www.sinoptik.bg">www.sinoptik.bg</a>
            или
            <a href="http://www.dalivali.bg">www.dalivali.bg</a>
        </h6>
    </div>
</div>

<script>
    $('#products-search-bar').on("change paste keyup", function () {
        $('.product').show();

        let searchValue = $('#products-search-bar').val();

        for (let elem of $('.product')) {
            let productName = $($(elem).children()[1]).text();

            if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(elem).hide();
            }
        }
    });</script>