@model RentACar.Web.ViewModels.Rent.RentViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1 class="text-center">User Details</h1>
    <hr class="hr-2 bg-panda">
        <div class="mx-auto">
            <hr class="hr-2 bg-panda">
            <div class="d-flex justify-content-between">
                <h4>Car model:</h4>
             @*   <h4>@Model.User.FullName</h4>*@
            </div>
            <div class="d-flex justify-content-between">
                <h4>User phone number:</h4>
           @*     <h4>@Model.User.PhoneNumber</h4>*@
            </div>
            <div class="d-flex justify-content-between">
                <h4>User E-mail address:</h4>
            @*    <h4>@Model.User.Email</h4>*@
            </div>
            <div class="col-8 md-3">
                <hr class="hr-2 bg-panda">
                <div claass="d-flex justify-content-between">
                    <h4>Active rent:</h4>
                    @if (Model.User.Rents.Any())
                    {
                        foreach (var rent in Model.User.Rents.Where(rent => rent.Status.Name == "Active"))
                        {
                            <form class="form border-primary-4 rounded p-3 w-70 mx-auto mt-3">
                                <h4>Brand: @rent.Car.Brand</h4>
                                <h4>Model: @rent.Car.Model</h4>
                                <h4>Manufactured on: @rent.Car.ManufacturedOn.ToString("dd/MM/yyyy")</h4>
                                <h4>Group: @rent.Car.Group</h4>
                                <h4>Air conditioner: @rent.Car.AirConditioner</h4>
                                <h4>Automatic gearbox: @rent.Car.AutomaticGearbox</h4>
                                <h4>Diesel: @rent.Car.Diesel</h4>
                                <Img class="col-md-3 img-thubnail product-in-user-profil-image"
                                     src="@rent.Car.Picture">
                                <h4>
                                    Rents count: @Model.User.Rents.Count
                                </h4>
                            </form>
                        }
                    }
                    else
                    {
                        <h4>No active rents.</h4>
                    }
                </div>
                
            </div>
            <hr class="hr-2 bg-panda">
            <div class="fee-holder d-flex justify-content-end">
                <h3>Total fee: &euro;@Model.Fee.ToString("F2")</h3>
            </div>
        </div>
</body>