@model RentACar.Web.ViewModels.Car.Details.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}

<main class="mt-3 mb-3">
    <form method="post" class="form border-primary-4 rounded p-3 w-70 mx-auto mt-3">
        <h3 class="font-weight-bold text-center text-white bg-dark" >Детайли на колата</h3>

        <div id="product-image-and-navigation-holder" calss="col-md-5 row">
            <div id="image-holder">
                <img src="@Model.Picture"
                     alt="@Model.Brand @Model.Model" 
                     class="img-thumbnail product-details justify-content-between" />
            </div>
        </div>

        <div id="product-data-holder" class="form-group mx-auto text-center col-md-5 my-3 border-t">
            <h4 class="text-left">Марка: @Model.Brand</h4>
            <h4 class="text-left">Модел: @Model.Model</h4>
            <h4 class="text-left">Дата на производство: @Model.ManufacturedOn.ToString("dd/MM/yyyy")</h4>
            <h4 class="text-left">
                Група: @switch (Model.Group)
                {
                    case RentACar.Web.BindingModels.CarGroupBindingModel.Hybrid:
                        <a>Хибрид</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.Compact:
                        <a>Хечбек</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.FullSize:
                        <a>Седан</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.Estate:
                        <a>Комби</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.Minivan:
                        <a>Миниван</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.SUV:
                        <a>СУВ</a>
                        break;
                    case RentACar.Web.BindingModels.CarGroupBindingModel.Luxury:
                        <a>Лимозина</a>
                        break;
                    default:
                        break;
                }
            </h4>
            <h4 class="text-left">
                Климатик: @switch (Model.AirConditioner)
                {
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.Yes:
                        <a>Да</a>
                        break;
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.No:
                        <a>Не</a>
                        break;
                    default:
                        break;
                }
            </h4>
            <h4 class="text-left">
                Автоматична скоростна кутия: @switch (Model.AutomaticGearbox)
                {
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.Yes:
                        <a>Да</a>
                        break;
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.No:
                        <a>Не</a>
                        break;
                    default:
                        break;
                }
            </h4>
            <h4 class="text-left">
                Дизел: @switch (Model.Diesel)
                {
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.Yes:
                        <a>Да</a>
                        break;
                    case RentACar.Web.BindingModels.CarEquipmentBindingModel.No:
                        <a>Не</a>
                        break;
                    default:
                        break;
                }
            </h4>
            <h4 class="text-left border-bot">Цена на ден: @Model.PricePerDay.ToString("F2") лв.</h4>

        <div class="form-group mt-4">

            <button type="button" class="btn btn-outline-success mt-1"
                    data-toggle="modal" data-target="#rentModal">
                Наеми
            </button>

            @if (this.User.IsInRole("Admin"))
            {
                <a href="/Administration/Car/Edit/@Model.Id" class="btn btn-outline-warning">Промени</a>
                <a href="/Administration/Car/Delete/@Model.Id" class="btn btn-outline-danger">Изтрий</a>
            }

            <a href="/" class="btn btn-outline-primary mt-1  ">Назад</a>

        </div>
        </div>
    </form>
</main>

<div class="modal fade" id="rentModal" tabindex="-1" role="dialog" aria-labelledby="rentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="rentModalLabel">
                    Наеми - @Model.Brand @Model.Model
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="rent-form" action="/Rent/Create" method="post">
                    <div class="form-group">
                        <label for="startDate" class="col-form-label">Start date:</label>
                        <input type="date"
                               class="form-control text-primary text-center"
                               id="startDate"
                               placeholder="Начална дата..."
                               asp-for="CarRentBindingModel.StartDate"
                               name="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-form-label">End date:</label>
                        <input type="date"
                               class="form-control text-primary text-center"
                               id="endDate"
                               placeholder="Крайна дата..."
                               asp-for="CarRentBindingModel.EndDate"
                               name="endDate">
                    </div>

                    <input type="hidden" value="@Model.Id" name="carId" />
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-success" id="complete-rent-button">Завърши наема</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#complete-rent-button').click(function () {

        //date 1

        //date 2

        //date 1 < date 2

        $('#rent-form').submit();
    });
</script>