@model List<RentACar.Web.ViewModels.Rent.RentViewModel>

@{
    ViewData["Title"] = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rents</h1>

<div>
    <h4>RentViewModel</h4>
    <hr />
    <dl class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i < 1)
            {
                <h5>Няма наеми</h5>
            }
            <div class="product col-md-4 border-bot">
                <h6>
                    @Model[i].Id
                </h6>
                <img src="@Model[i].CarPicture" width="200" height="200" alt="No image"/>
                    
                <h6>
                    @Model[i].CarBrand
                </h6>
                <h6>
                    @Model[i].CarModel
                </h6>
                <h6>
                    @Model[i].StartDate
                </h6>
                <h6>
                    @Model[i].EndDate
                </h6>
                <h6>
                    @Model[i].Fee
                </h6>
            </div>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
