@model List<RentACar.Web.ViewModels.Rent.RentViewModel>

@{
    ViewData["Title"] = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form border-primary-4 rounded p-3 w-70 mx-auto mt-3">
    <h1 class="bg-dark text-white font-weight-bold text-center mx-auto rounded">Rents</h1>
    @foreach (var rent in Model)
    {
        if (rent == null)
        {
            <h5>No rents</h5>
        }
        <div class="col-md-4 border-bot mt-2">
            <h6>
                User: @rent.User.FullName
            </h6>
            <h6>
                Car: @rent.CarBrand  @rent.CarModel
                <img src="@rent.CarPicture" height="80" alt="No image" />
            </h6>
            <h6>
                Start date: @rent.StartDate.ToString("dd/MM/yyyy")
            </h6>
            <h6>
                End date: @rent.EndDate.ToString("dd/MM/yyyy")
            </h6>
            <h6>
                Fee: @rent.Fee
            </h6>
        </div>
    }
</form>